# Basics - Removing and Adding Data
let's mix up a bit and change our data source. Now we'll look at some astronauts! \
https://www.kaggle.com/nasa/astronaut-yearbook

In [2]:
import pandas as pd

df = pd.read_csv(r'astronauts.csv')
df.head(1)

,Name,Year,Group,Status,Birth Date,Birth Place,Gender,Alma Mater,Undergraduate Major,Graduate Major,Military Rank,Military Branch,Space Flights,Space Flight (hr),Space Walks,Space Walks (hr),Missions,Death Date,Death Mission
0,Joseph M. Acaba,2004.0,19.0,Active,5/17/1967,"Inglewood, CA",Male,University of California-Santa Barbara; Univer...,Geology,Geology,NaN,NaN,2,3307,2,13.0,"STS-119 (Discovery), ISS-31/32 (Soyuz)",NaN,NaN

## Modifying Type of Columns
Common for time series, categoricals, or converting strings to numeric

### Timeseries
Note we'll TimeSeries with a lot of depth in a later chapter, this is mostly a (useful) intro.

In [11]:
birth_date = pd.to_datetime(df['Birth Date'], format="%m/%d/%Y")
birth_date

0     1967-05-17
1     1936-03-07
2     1946-03-03
3     1951-05-20
4     1930-01-20
         ...
352   1956-08-23
353   1962-07-26
354   1932-02-07
355   1930-09-24
356   1962-06-29
Name: Birth Date, Length: 357, dtype: datetime64[ns]

In [6]:
birth_date.dt.year

0      1967
1      1936
2      1946
3      1951
4      1930
       ...
352    1956
353    1962
354    1932
355    1930
356    1962
Name: Birth Date, Length: 357, dtype: int32

In [17]:
zarya = pd.to_datetime('1998-11-20')
df['age_at_zarya'] = (zarya - birth_date).astype('timedelta64[Y]')
df.head(2)

ValueError: Cannot convert from timedelta64[ns] to timedelta64[Y]. Supported resolutions are 's', 'ms', 'us', 'ns'

In [9]:
zarya

Timestamp('1998-11-20 00:00:00')