# Creating Dataframes

In [1]:
import pandas as pd
import numpy as np

In [4]:
data = np.random.random(size=(5, 3))
df = pd.DataFrame(data=data, columns=['A','B','C'])
df

          A         B         C
0  0.842725  0.905294  0.861916
1  0.913535  0.858848  0.113266
2  0.911409  0.801516  0.179247
3  0.476414  0.007124  0.294566
4  0.470837  0.421538  0.302345

In [5]:
df = pd.DataFrame(data={'A': [1,2,3], 'B': ['Sam', 'Alex', 'John']})
df

   A     B
0  1   Sam
1  2  Alex
2  3  John

In [11]:
dtype = [('A', int), ('B', (str, 20))]
data = np.array([(1, 'Sam'), (2, 'Alex'), (3, 'John')], dtype=dtype)
df = pd.DataFrame(data)
df

   A     B
0  1   Sam
1  2  Alex
2  3  John